@if (Boards is null)
{
    <div class="col">
        <h4>Loading...</h4>
    </div>
}
else
{
    foreach (var board in Boards)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">@board.Name</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@board.TotalNumberOfIssues Issues</li>
                    <li class="list-group-item">@board.NumberOfNewIssues new issues</li>
                    <li class="list-group-item">@board.NumberOfIssuesToDo issues assigned</li>
                    <li class="list-group-item">@board.NumberOfIssuesInProgress issues in progress</li>
                    <li class="list-group-item">@board.NumberOfIssueInTesting issues to test</li>
                    <li class="list-group-item">@board.NumberOfIssuesDone issues completed</li>
                </ul>
                <a href="boards/@board.Id/issues" class="btn btn-primary">View</a>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public IEnumerable<BoardListModel.BoardListItem> Boards { get; set; }
}